.App {
  text-align: center;
}

.App-header {
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: gold;
  text-align: center;
}

.App-navigation {
  line-height: 100px;
}

.App-navigation>a {
  margin: 0 10px;
  text-decoration: none;
  color: sienna;
  font-family: Kinnari;
  font-size: large;
}

.App-navigation>a:hover {
  color: darkturquoise;
}

.App-content {
  margin: auto;
  text-align: center;
  width: 5%;
  margin-top: 5%;
}
